/* ---- reset ---- */

body {
    margin: 0;
    background-color: #187eb6;
    font: normal 75% Arial, Helvetica, sans-serif;
}

/* ---- stats.js ---- */

.loginform {
    background-color: rgba(255,255,255 , 0.5);
    border-radius: 1rem;
    padding: 2rem;
    width: 30%;
    /* display: flex; */
    /* margin: auto; */
    position: absolute;
    top: 50%;
    right:50%;
    transform: translate(50%,-50%);
}

.ui.form {
    width: 100%;
}
.loginform .button {
    margin-top: 1rem;
}