html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.demo-charts {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.demo-graphs {
  padding: 16px 32px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.container {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.gauge {
    width: 200px;
    height: 210px;
}

#view-source {
	position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 1390px;
    margin-bottom: 40px;
    z-index: 900;
} 

.open-button {
	position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
} 

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  margin-bottom: 80px;
  right: 31px;
  border: 2px solid #000000;
  z-index: 9;
}